*.swp
*.class
*.log
makefile
*.DS_Store

build
'build (copy).xml'
/nbproject/private
/*/nbproject/private

ThreatIntelToolsDependencies/nbproject/project_old.xml
ThreatIntelToolsDependencies/release/modules/ext/

